In [2]:
import pandas as pd
import seaborn as sns

In [7]:
df = pd.read_csv('World_Happiness_Report.csv')
df.head()
df.tail(2)

,Country,Happiness Rank,Happiness Score,Economy,Family,Health,Freedom,Generosity,Corruption,Dystopia,Job Satisfaction,Region
151,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024,54.3,Africa
152,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005,70.4,Africa

In [11]:
print(df.index)
print(df.columns)

RangeIndex(start=0, stop=153, step=1)
Index(['Country', 'Happiness Rank', 'Happiness Score', 'Economy', 'Family',
       'Health', 'Freedom', 'Generosity', 'Corruption', 'Dystopia',
       'Job Satisfaction', 'Region'],
      dtype='object')

In [13]:
columns_to_rows = {i: "_".join(i.split(" ")).lower() for i in df.columns}

df = df.rename(columns=columns_to_rows)
df.head()

,country,happiness_rank,happiness_score,economy,family,health,freedom,generosity,corruption,dystopia,job_satisfaction,region
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,94.6,Western Europe
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,93.5,Western Europe
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,94.5,Western Europe
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,93.7,Western Europe
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,91.2,Western Europe

In [18]:
print(df.dtypes)
print(df.info)

country              object
happiness_rank        int64
happiness_score     float64
economy             float64
family              float64
health              float64
freedom             float64
generosity          float64
corruption          float64
dystopia            float64
job_satisfaction    float64
region               object
dtype: object
<bound method DataFrame.info of                       country  happiness_rank  happiness_score   economy  \
0                      Norway               1            7.537  1.616463
1                     Denmark               2            7.522  1.482383
2                     Iceland               3            7.504  1.480633
3                 Switzerland               4            7.494  1.564980
4                     Finland               5            7.469  1.443572
..                        ...             ...              ...       ...
148                    Rwanda             151            3.471  0.368746
149                     Syria             152            3.462  0.777153
150                  Tanzania             153            3.349  0.511136
151                   Burundi             154            2.905  0.091623
152  Central African Republic             155            2.693  0.000000

       family    health   freedom  generosity  corruption  dystopia  \
0    1.533524  0.796667  0.635423    0.362012    0.315964  2.277027
1    1.551122  0.792566  0.626007    0.355280    0.400770  2.313707
2    1.610574  0.833552  0.627163    0.475540    0.153527  2.322715
3    1.516912  0.858131  0.620071    0.290549    0.367007  2.276716
4    1.540247  0.809158  0.617951    0.245483    0.382612  2.430182
..        ...       ...       ...         ...         ...       ...
148  0.945707  0.326425  0.581844    0.252756    0.455220  0.540061
149  0.396103  0.500533  0.081539    0.493664    0.151347  1.061574
150  1.041990  0.364509  0.390018    0.354256    0.066035  0.621130
151  0.629794  0.151611  0.059901    0.204435    0.084148  1.683024
152  0.000000  0.018773  0.270842    0.280876    0.056565  2.066005

     job_satisfaction          region
0                94.6  Western Europe
1                93.5  Western Europe
2                94.5  Western Europe
3                93.7  Western Europe
4                91.2  Western Europe
..                ...             ...
148              51.7          Africa
149              62.7    Asia-Pacific
150              57.8          Africa
151              54.3          Africa
152              70.4          Africa

[153 rows x 12 columns]>
x:
0                        Norway
1                       Denmark
2                       Iceland
3                   Switzerland
4                       Finland
                 ...
148                      Rwanda
149                       Syria
150                    Tanzania
151                     Burundi
152    Central African Republic
Name: country, Length: 153, dtype: object

In [22]:
x = df.country
print(f"x:\n{x}")

x = df[["country"]]
print(x)
df[2:5]

x:
0                        Norway
1                       Denmark
2                       Iceland
3                   Switzerland
4                       Finland
                 ...
148                      Rwanda
149                       Syria
150                    Tanzania
151                     Burundi
152    Central African Republic
Name: country, Length: 153, dtype: object
                      country
0                      Norway
1                     Denmark
2                     Iceland
3                 Switzerland
4                     Finland
..                        ...
148                    Rwanda
149                     Syria
150                  Tanzania
151                   Burundi
152  Central African Republic

[153 rows x 1 columns]

,country,happiness_rank,happiness_score,economy,family,health,freedom,generosity,corruption,dystopia,job_satisfaction,region
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,94.5,Western Europe
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,93.7,Western Europe
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,91.2,Western Europe

In [30]:
index,row = next(df.iterrows())
print(row)

country                     Norway
happiness_rank                   1
happiness_score              7.537
economy                   1.616463
family                    1.533524
health                    0.796667
freedom                   0.635423
generosity                0.362012
corruption                0.315964
dystopia                  2.277027
job_satisfaction              94.6
region              Western Europe
Name: 0, dtype: object

In [35]:
df[df["region"]=="Western Europe"]

df["region"]

0      Western Europe
1      Western Europe
2      Western Europe
3      Western Europe
4      Western Europe
            ...
148            Africa
149      Asia-Pacific
150            Africa
151            Africa
152            Africa
Name: region, Length: 153, dtype: object